<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}My amazing site{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <div class="container">
            Current user
            <pre>
{{ current_oauth_user | pprint }}
            </pre>
        </div>
        {% endblock %}
    </div>

    <div id="content" class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
